:root {
    --Header-style-text-color: #212121;
    --Header-footer-style-color: #2f303a;
    --Main-botton-style-color: #ffffff;
    --Main-botton-style-background-color: #2196f3;
    --Main-content-our-team-background-color: #f5f4fa;
    --Main-botton-hover-background-color: #188ce8;
    --Header-Web-color: #2196f3;
    --Header-Studio-color: #000000;
    --Footer-Studio-color: #ffffff;
    --Header-menu-studiy-index-color: #2196f3;
    --Header-menu-portfolio-color: #2196f3;
    --Header-menu-studiy-color: #757575;
    --Header-menu-hover-color: #2196f3;
    --Main-main-content-color: #ffffff;
    --Adress-Style-color: #ffffff;
    --Adress-hover-color: #2196f3;
    --Adress-mail-tel-color: rgba(255, 255, 255, 0.6);
    --Adress-mail-tel-hover-color: #2196f3;
    --Main-botton-all-color: #ffffff;
    --Main-botton-all-background-color: #188ce8;
    --Main-bottons-background-color: #f5f4fa;
    --Main-bottons-hover-color: #ffffff;
    --Main-bottons-hover-background-color: #2196f3;
    --Main-content-Benefits-paragraph-color: #757575;
    --Main-content-team-personally-background-color: #ffffff;
    --Main-content-team-paragraph-color: #757575;
    --Main-menu-img-content-color: #757575;
}